:root {
  --primary: white;
  --secondary: #333333;
  --blue: #0056b3;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  list-style: none;
  font-family: "Inter", sans-serif;
}

button {
  border-radius: 50px;
  padding: 18px;
  font-size: medium;
  border: none;
  background-color: #0d6dd4;
  color: aliceblue;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* First section */

/* Navbar style start */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid rgb(220, 218, 218);
  position: relative;
}

.navbar-option-parent {
  padding-left: 100px;
}

.navbar-option-child {
  display: flex;
  flex-direction: row;
  gap: 29px;
  padding-top: 18px;
  font-size: 16px;
  color: var(--secondary);
  padding-bottom: 20px;
  cursor: pointer;
  height: 128%;
  width: 100%;
  font-weight: 400;
}

.navbar-option-child li:hover {
  border-bottom: 5px solid #0056b3;
}

.navbar-button {
  padding-bottom: 20px;
  padding-right: 30px;
}
/* End navbar Code */

/* First section end */

/* Second section start */

.firstsection {
  margin-top: 20px;
  padding-top: 70px;
  text-align: center;
  gap: 30px;
  color: var(--secondary);
}

.firstsection > h1 {
  font-size: 60px;
  font-weight: 10px;
  margin-top: 20px;
}

.firstsection > h1 > span {
  color: #0056b3;
}

.firstsection > p {
  font-size: smaller;
}

.firstsection > h3 {
  font-size: 20px;
  margin-top: 30px;
}

.firstsection > button {
  margin-top: 35px;
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--secondary);
  font-size: x-large;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 30px;
}

.firstsection > button:hover {
  background-color: #0056b3;
  color: var(--primary);
}

/* Second section end */

/* Third section start */

.third-section > img {
  width: 90%;
  margin-left: 60px;
  margin-top: 50px;
}

/* Third section end */

/* Fourth Section Start */

.fourth-section {
  text-align: center;
  margin-top: 170px;
}

.fourth-section > h1 {
  font-size: 50px;
  font-weight: 600;
  color: var(--secondary);
}

.fourth-section > h1 > span {
  font-size: 50px;
  font-weight: 600;
  color: var(--blue);
}

.fourth-section > p {
  font-size: 15px;
  font-weight: 400;
  color: var(--secondary);
  margin-top: 30px;
}

/* Fourth section End */

/* Fifth section start */

.fifth-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  margin-top: 40px;
}

.box {
  border: 1px solid rgba(21, 102, 214, 0.18);
  display: flex;
  border-radius: 10px;
  padding: 55px;
  margin-bottom: 20px;
  color: var(--secondary);
  gap: 20px;
}

.box > div > h1 {
  font-size: 22px;
  font-weight: 550;
  color: var(--secondary);
  margin-bottom: 5px;
}

.fifth-child-1 {
  padding-left: 8%;
  padding-top: 50px;
}

.fifth-child-2 {
  padding-right: 8%;
  padding-top: 30px;
}

/* Fifth section end */

/* sixth section start */

.sixth-section {
  margin-top: 120px;
  padding-top: 120px;
  padding-left: 150px;
  background-color: rgba(43, 112, 197, 0.04);
}

.sixth-child-1 {
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
}

.sixth-child-1 > h1 > span {
  color: var(--blue);
}

.sixth-child-2 {
  color: var(--secondary);
  padding-top: 70px;
  font-size: 15px;
  font-weight: 400;
  line-height: 168%;
}

.sixth-child-3 {
  display: flex;
  flex-direction: row;
  padding-top: 70px;
  padding-bottom: 80px;
}

.sixth-child-3 > div > h1 {
  color: var(--blue);
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
}

.sixth-child-3 > div > h3 {
  color: var(--secondary);
  font-size: 13px;
  padding-top: 7px;
}

#sixth-child-3-div {
  padding-left: 14%;
}

/* sixth section end */

/* Seventh section start */

.seventh-section-title{
  color: var(--secondary);
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-top: 120px;
  margin-bottom: 50px;

}

.seventh-section-title > h1 > span{
  color: var(--blue);
}
.seventh-child-img{
  display: inline-flex;
  flex-direction: row;
  margin-left: 45px;
  align-items: start;
  flex-wrap: wrap;
 
}

.img > img{
  width: 110%;
  height: 110%;
  padding-left: 15px;
  padding-right: 15px;
}

.img{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.img:hover{
  width: 20%;
  height: 20%;
}


/* Seventh section end */

/* Eight section start */

.Eight-section{
  width: 100%;
  overflow: hidden;
 overflow-x: scroll;
}

.Eight-section > h1{
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

.Eight-section > p{
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 90px;
}

.logopart1{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 15px;
}

.CompanyLogo{
  border-radius: 16px;
  display: flex;
  height: 90px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid var(--secondary);
  margin: 10px;
  width: 180px;
  
}

.logopart2{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 15px;
}

.companylogo2{
  border-radius: 16px;
  display: flex;
  height: 90px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid var(--secondary);
  margin: 10px;
  width: 180px;
}

.lastbox{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
}

.lastbox2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
}

.Eight-section-child{
 display: flex;
 width: 200%;
}